In [1]:
import mysql.connector
import pandas as pd
import numpy as np
from datetime import datetime,date,timedelta
from dateutil.parser import parse
import pymysql
from sqlalchemy import create_engine
pymysql.install_as_MySQLdb()

In [4]:
#数据库连接初始化
mydb = mysql.connector.connect(
    host="rm-bp178mt2593im687xjo.mysql.rds.aliyuncs.com",
    user="root",
    passwd="KLxs8888",
    database="wdgj")
print(mydb)

#SQL语句
sqlStock="SELECT * FROM stock_change_data"
sqlSell ="SELECT * FROM daily_stockout_sell WHERE CHKTime>='2019-05-06'"

#库存数据获取
mycursor=mydb.cursor()
mycursor.execute(sqlStock)
stockdata=mycursor.fetchall()
mycursor.close()

#将数据转化为DaraFrame
stockdata=pd.DataFrame(stockdata)
stockdata.columns=['GoodsNO','GoodsName','date','Total_in','flag']
stockdata=stockdata[['GoodsNO','GoodsName','date','Total_in']]

stockdata.head()

<mysql.connector.connection.MySQLConnection object at 0x000000000545EC50>

   GoodsNO               GoodsName        date  Total_in
0  .100135             蒂爱-折叠浴桶专属浴网  2019-01-23         1
1    00342        Ttbaby贝仕达-雅拉牧场毛毯  2018-09-30         1
2    00442    FORBABY-P680婴儿车-金色车架  2018-10-05         9
3    00444   FORBABY-P680婴儿车-紫色遮阳棚  2018-09-30        24
4    00445  FORBABY-P680婴儿车-紫色睡篮棉垫  2018-10-05         1

In [3]:
#对数据进行预处理，填充空值为零
stockdata =stockdata.fillna(np.nan)
print(stockdata.isnull().sum())
stockdata['Total_in']=stockdata['Total_in'].fillna(0)
print(stockdata.shape)

#删除小于等于0的数值
index = stockdata[stockdata['Total_in']<=0].index
stockdata=stockdata.drop(index=index,axis=0)

print(stockdata.shape)

#按SKU分类汇总
stockdata_groupby = stockdata.groupby(['GoodsNO','GoodsName','date'],as_index=False)
stockdata_groupby=stockdata_groupby.aggregate(np.sum)

print(stockdata_groupby.shape)
#设置库存计算时间
stockdata_groupby['cal_time']=''

stockdata_groupby.head()

GoodsNO      0
GoodsName    0
Total_in     0
date         0
dtype: int64
(194799, 4)
(100357, 4)
(100357, 4)

   GoodsNO               GoodsName        date  Total_in cal_time
0  .100135             蒂爱-折叠浴桶专属浴网  2019-01-23         1
1    00342        Ttbaby贝仕达-雅拉牧场毛毯  2018-09-30         1
2    00442    FORBABY-P680婴儿车-金色车架  2018-10-05         9
3    00444   FORBABY-P680婴儿车-紫色遮阳棚  2018-09-30        24
4    00445  FORBABY-P680婴儿车-紫色睡篮棉垫  2018-10-05         1

In [4]:
#清除库存为0的数据
index = stockdata_groupby[stockdata_groupby['Total_in']==0].index
stockdata_groupby=stockdata_groupby.drop(index=index,axis=0)

print(stockdata_groupby.shape)

stockdata_groupby['date'].head()

(100357, 5)

0    2019-01-23
1    2018-09-30
2    2018-10-05
3    2018-09-30
4    2018-10-05
Name: date, dtype: object

In [5]:
#获取每日销量数据
mycursor=mydb.cursor()
mycursor.execute(sqlSell)
stocksell=mycursor.fetchall()
mycursor.close()

#转化为DataFrame格式，同时修改列名
stocksell=pd.DataFrame(stocksell)
stocksell.columns=['SKU','name','total','date','flag','WarehouseName']
stocksell=stocksell[['SKU','name','total','date']]

stocksell.head()

                 SKU                            name  total        date
0          K04876307  KUB可优比-外出服K19SSC1041防晒服浅绿40-90      1  2019-05-06
1          K04876206   KUB可优比-外出服K19SSC1042外套浅绿40-80      1  2019-05-08
2  C.FZ.01.01.000812     KUB可优比-纱布隔尿垫-猛犸象(一条装) 40*50      1  2019-05-09
3  C.TF.02.01.000010                KUB可优比-儿童学习桌椅-粉色      1  2019-05-09
4          D04405801          蒂爱-小鹿漫漫薄荷凉席120*65（含枕头）     72  2019-05-09

In [6]:
#对数据进行预处理，填充空值为零
stocksell =stocksell.fillna(np.nan)
print(stocksell.isnull().sum())
print(stocksell.shape)
print('\n')

#按照SKU，name,date进行groupby
stocksell_groupby = stocksell.groupby(['SKU','name','date'],as_index=False)
stocksell_groupby=stocksell_groupby.aggregate(np.sum)
print(stocksell_groupby.shape)
stocksell_groupby.head()

SKU      0
name     0
total    0
date     0
dtype: int64
(24038, 4)


(21850, 4)

     SKU                     name        date  total
0  00518  蒂爱-3D摩丝经典版床垫（7cm）120*65  2019-05-12      1
1  00518  蒂爱-3D摩丝经典版床垫（7cm）120*65  2019-05-13      2
2  00519  蒂爱-3D摩丝经典版床垫（7cm）120*60  2019-05-06      1
3  00670          Forbaby-婴儿推车扶手带  2019-05-06      1
4  00673   吉比-圣殿骑士安全座椅(ISOFIX)-蓝色  2019-05-11      1

In [7]:
#按天分类
stocksell_groupby_date = stocksell_groupby.groupby(['date'],as_index=False)
print(stocksell_groupby_date)

#按天查看对应数据
stocksell_groupby_date.get_group('2019-05-10').head()

<pandas.core.groupby.DataFrameGroupBy object at 0x0000000008F87080>

      SKU                  name        date  total
10  00802                双层推车凉席  2019-05-10      2
13  00807  米歌-F50豪华婴儿推车（马卡龙蜜粉蓝）  2019-05-10      1
21  01034              蒂爱-竹纤维尿布  2019-05-10     13
34  01115        KUB可优比-黄色天鹅绒枕套  2019-05-10      1
39  01191           KUB可优比-防伪标签  2019-05-10  33200

In [8]:
#获取特定天的SKU，对应出库，构造SKU：Total字典
def get_sku_code(date):
    try:
        df=stocksell_groupby_date.get_group(date)
    except:
        df=[]
    l=len(df)
    dict_new={}
    for i in range(l):
        dict_new[df['SKU'].iloc[i]]=df['total'].iloc[i]
    return dict_new

In [9]:
#计算库存变化，按照先进先出原则
def sku_stock_delete(time,stock_change):
    sell_dict=get_sku_code(time)#获取特定某一天的SKU:Total
    total=0
    a=0
    print(len(sell_dict))
    for key in sell_dict:
        total+=1
#         print(total)
        sell=sell_dict[key]
        #获取满足条件的对应所在行的index
        stock_index=stock_change[(stock_change['date']<=parse(time).date())&(stock_change['GoodsNO']==key)\
                                     &(stock_change['Total_in']>0)].sort_values(by ='date',ascending=True)['Total_in'].index
        #遍历每个index，按条件扣减对应的库存
        for i in stock_index:
            stock=stock_change['Total_in'].loc[i]
            if sell>=stock:
                stock_change['Total_in'].loc[i]=0
                sell=sell-stock
#                 stock_change['stock_time'].loc[i]=time
            else:
                stock_change['Total_in'].loc[i]=stock-sell
                sell=0
#                 stock_change['stock_time'].loc[i]=time
                break
        a=a+sell
    print(total)
    index_0 = stock_change[stock_change['Total_in']==0].index
    stock_change=stock_change.drop(index=index_0,axis=0)
    return stock_change,a

In [10]:
#重新创建一个DataFrame，复制一份stockdata_groupby,用来确保在调用函数的过程中不改变stockdata_groupby
stock_change_data=pd.DataFrame()
stock_change_data=pd.concat([stock_change_data,stockdata_groupby])

#构造存放计算后每天的库存数据表格
stock_age_cal=pd.DataFrame()
t=0

In [12]:
#执行循环计算过程
starttime = datetime.now()
startdate=date(2019,5,6)
for i in range(9):
    start=startdate + timedelta(i)
    print(start)

2019-05-06
2019-05-07
2019-05-08
2019-05-09
2019-05-10
2019-05-11
2019-05-12
2019-05-13
2019-05-14

In [13]:
#执行循环计算过程
starttime = datetime.now()
startdate=date(2019,5,6)
for i in range(9):
    start=startdate + timedelta(i)
    print(start)
    stock_change=sku_stock_delete(str(start),stock_change_data)#调用函数计算库存占用
    stock_change[0]['cal_time']=start#标记库存占用计算日期
    stock_age_cal=pd.concat([stock_age_cal,stock_change[0][stock_change[0]['date']<=start-timedelta(60)]])#筛选60天前的数据
    t+=stock_change[1]
endtime=datetime.now()
print ((endtime - starttime).seconds/60/60)
print (t)

2019-05-06
2240

D:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

2240
2019-05-07
2448
2448
2019-05-08
2128
2128
2019-05-09
2201
2201
2019-05-10
3249
3249
2019-05-11
2804
2804
2019-05-12
2302
2302
2019-05-13
2157
2157
2019-05-14
2321
2321
0.33888888888888885
1817

In [14]:
#校核检验结果
result=stockdata_groupby[stockdata_groupby['date']<=parse('2019-05-14').date()].groupby(['date'],as_index=False)
result=result.aggregate(np.sum)#初始库存总数
result1=stock_change_data[stock_change_data['date']<=parse('2019-05-14').date()].groupby(['date'],as_index=False)
result1=result1.aggregate(np.sum)#最终库存总数
result2=stocksell_groupby[stocksell_groupby['date']<=parse('2019-05-14').date()].groupby(['date'],as_index=False)
result2=result2.aggregate(np.sum)#出库总数
result.Total_in.sum()
#检验是否计算正确，为零则表示准确无误
print(result1.Total_in.sum()-(result.Total_in.sum()-result2.total.sum()+t))

yconnect = create_engine('mysql+mysqldb://root:KLxs8888@rm-bp178mt2593im687xjo.mysql.rds.aliyuncs.com:3306/wdgj?charset=utf8')
#chunksize设置可以在大数据集导入的时候实现分批导入
stock_change_data.columns=['GoodsNO','GoodsName','CHKTime','GoodsCount','flag']
stock_change_data
pd.io.sql.to_sql(stock_change_data,'stock_change_data_copy', yconnect, schema='wdgj', if_exists='replace',index=False,chunksize=10000)
pd.io.sql.to_sql(stock_age_cal,'stock_age_cal_day', yconnect, schema='wdgj', if_exists='append',index=False,chunksize=10000)

#保存结果
stock_age_cal.to_csv('stock_age_cal0514.csv',header=True,index=False)
stock_change_data.to_csv('stock_change_data0514.csv',header=True,index=False)

0

In [15]:
#构造新的表格复制一份stock_age_cal
stock_age_cal_copy=pd.DataFrame()
stock_age_cal_copy=pd.concat([stock_age_cal_copy,stock_age_cal])

#转换时间格式，同时计算库龄
stock_age_cal_copy['date']=pd.to_datetime(stock_age_cal_copy['date'])
stock_age_cal_copy['cal_time']=pd.to_datetime(stock_age_cal_copy['cal_time'])
stock_age_cal_copy['stockAge']=stock_age_cal_copy['cal_time']-stock_age_cal_copy['date']

# stock_age_cal_copy.head()

#选择库龄大于60天的SKU
stock_age_cal_copy_60=stock_age_cal_copy[(stock_age_cal_copy['stockAge']>=timedelta(60))&(stock_age_cal_copy['cal_time']>'2018-11-30')]
stock_age_cal_copy_60.head()

   GoodsNO               GoodsName       date  Total_in   cal_time stockAge
0  .100135             蒂爱-折叠浴桶专属浴网 2019-01-23         1 2019-05-06 103 days
1    00342        Ttbaby贝仕达-雅拉牧场毛毯 2018-09-30         1 2019-05-06 218 days
2    00442    FORBABY-P680婴儿车-金色车架 2018-10-05         9 2019-05-06 213 days
3    00444   FORBABY-P680婴儿车-紫色遮阳棚 2018-09-30        24 2019-05-06 218 days
4    00445  FORBABY-P680婴儿车-紫色睡篮棉垫 2018-10-05         1 2019-05-06 213 days

In [16]:
#数据库设置
mydb = mysql.connector.connect(
    host="rm-bp178mt2593im687xjo.mysql.rds.aliyuncs.com",
    user="root",
    passwd="KLxs8888",
    database="wdgj"
)
#获取数据
sql_goodslist='SELECT DISTINCT GoodsNO,BarCode,CASE WHEN LENGTH(SpecFixCostPrice) > 0 AND SpecFixCostPrice < FixCostPrice OR FixCostPrice=0 THEN \
SpecFixCostPrice ELSE FixCostPrice END AS FixCostPrice FROM g_goods_goodslist WHERE BarCode IS NOT NULL'
mycursor=mydb.cursor()
mycursor.execute(sql_goodslist)
goodslist=mycursor.fetchall()
mycursor.close()
#转换成为pandas矩阵
goodslist = pd.DataFrame(goodslist)
print(goodslist.shape)

#截取特定字段
goodslist.columns=['GoodsNO','BarCode','FixCostPrice']
goodslist_short=goodslist.drop_duplicates(["GoodsNO"])
#匹配库存和商品列
data_merge=pd.merge(stock_age_cal_copy_60,goodslist_short,on=['GoodsNO'],how='left')
data_merge['FixCostPrice']=data_merge['FixCostPrice'].apply(pd.to_numeric) # 将FixCostPrice转换成数值类型

data_merge=data_merge.fillna(np.nan)
print(data_merge.isnull().sum())
data_merge['FixCostPrice']=data_merge['FixCostPrice'].fillna(0)

#计算每个SKU的库存占用费
data_merge['stockDelayCost']=data_merge['Total_in']*data_merge['FixCostPrice']*0.05/30
data_merge=data_merge[(data_merge['stockAge']>=timedelta(60))&(data_merge['cal_time']>'2018-12-31')]
print(data_merge.shape)
data_merge.head()

(19729, 3)
GoodsNO           0
GoodsName         0
date              0
Total_in          0
cal_time          0
stockAge          0
BarCode         516
FixCostPrice    516
dtype: int64
(478222, 9)

,GoodsNO,GoodsName,date,Total_in,cal_time,stockAge,BarCode,FixCostPrice,stockDelayCost
0,.100135,蒂爱-折叠浴桶专属浴网,2019-01-23,1,2019-05-06,103 days,6971235894402,15.0,0.025
1,00342,Ttbaby贝仕达-雅拉牧场毛毯,2018-09-30,1,2019-05-06,218 days,6970351775824,42.0,0.070
2,00442,FORBABY-P680婴儿车-金色车架,2018-10-05,9,2019-05-06,213 days,6970351772489,481.0,7.215
3,00444,FORBABY-P680婴儿车-紫色遮阳棚,2018-09-30,24,2019-05-06,218 days,6970351772502,21.0,0.840
4,00445,FORBABY-P680婴儿车-紫色睡篮棉垫,2018-10-05,1,2019-05-06,213 days,6970351772519,15.0,0.025

In [17]:
#分SKU，按天汇总
data_merge_groupby=data_merge.groupby(['BarCode','GoodsName','cal_time'],as_index=False)
data_merge_groupby=data_merge_groupby.aggregate(np.sum)

data_merge_groupby = data_merge_groupby[data_merge_groupby['cal_time']>='2019-01-01']

yconnect = create_engine('mysql+mysqldb://root:KLxs8888@rm-bp178mt2593im687xjo.mysql.rds.aliyuncs.com:3306/wdgj?charset=utf8')
#chunksize设置可以在大数据集导入的时候实现分批导入
pd.io.sql.to_sql(data_merge_groupby,'data_merge_groupby', yconnect, schema='wdgj', if_exists='append',index=False,chunksize=10000)

data_merge_groupby.head()

#SQL语句
sqlStock="SELECT * FROM data_merge_groupby"

#库存数据获取
mycursor=mydb.cursor()
mycursor.execute(sqlStock)
stockdata=mycursor.fetchall()
mycursor.close()

#将数据转化为DaraFrame
data_merge_groupby=pd.DataFrame(stockdata)

data_merge_groupby.columns=['BarCode','GoodsName','cal_time','Total_in','FixCostPrice','stockDelayCost']
#data_merge_groupby=data_merge_groupby[['GoodsNO','GoodsName','Total_in','date']]

data_merge_groupby.head()

   BarCode GoodsName   cal_time  Total_in  FixCostPrice  stockDelayCost
0  0069030      虚拟商品 2019-01-06    101345           1.0      168.908333
1  0069030      虚拟商品 2019-01-07   1050840           2.0     1751.400000
2  0069030      虚拟商品 2019-01-08   1050840           2.0     1751.400000
3  0069030      虚拟商品 2019-01-09   1027809           2.0     1713.015000
4  0069030      虚拟商品 2019-01-10   1025291           2.0     1708.818333

In [18]:
# 接上，#分SKU，按天汇总
data_merge_groupby = data_merge_groupby[data_merge_groupby['cal_time']>='2019-05-01']

#获取小组信息并去重
#GoodsInfo =pd.read_csv('C:\\Users\\Administrator\\PycharmProjects\\test\\goodsinfo0402.csv',header = 0)

#SQL语句
sqlStock="SELECT * FROM sku_dept_group"

#库存数据获取
mycursor=mydb.cursor()
mycursor.execute(sqlStock)
stockdata=mycursor.fetchall()
mycursor.close()

#将数据转化为DaraFrame
sku_dept_group=pd.DataFrame(stockdata)


sku_dept_group.columns=['ID','GoodsNO','GoodsName','BarCode','Company','Dept','tamllTax','GroupName','Holder','GradeTwo','GradeThird','GradeForth','SPU','Register','UpdateTime']
GoodsInfoShort=sku_dept_group[['BarCode','Company','Dept','GroupName']]
GoodsInfoShort=GoodsInfoShort.drop_duplicates(['BarCode'])

#匹配部门
data_merge_dept=pd.merge(data_merge_groupby,GoodsInfoShort,on=['BarCode'],how='left')

data_merge_dept.columns
data_merge_dept=data_merge_dept.fillna(np.nan)
data_merge_dept.isnull().sum()

data_merge_dept=data_merge_dept[['BarCode', 'GoodsName', 'cal_time', 'Total_in', 'stockDelayCost', 'Dept','GroupName']]

#把DataFrame数据插入数据库
yconnect = create_engine('mysql+mysqldb://root:KLxs8888@rm-bp178mt2593im687xjo.mysql.rds.aliyuncs.com:3306/wdgj?charset=utf8')
#chunksize设置可以在大数据集导入的时候实现分批导入
pd.io.sql.to_sql(data_merge_dept,'stock_age_fee', yconnect, schema='wdgj', if_exists='replace',index=False,chunksize=10000)


data_merge_dept.columns=['条码','商品名称','计算日期','滞销库存','库存占用费','部门','小组']
data_merge_dept.to_excel('data_merge_dept_day0429.xlsx',header=True,index=False)
data_merge_dept.to_csv('data_merge_dept_day0429.csv',header=True,index=False)

In [ ]:
starttime = datetime.now()
startdate=date(2019,4,26)
for i in range(1):
    start=startdate + timedelta(i)
    print(start)

In [ ]:
#分SKU，月份汇总
data_merge['cal_time_month']=data_merge.cal_time.map(lambda x: x.strftime('%Y-%m')) # 取月份数据

data_merge_groupby=data_merge.groupby(['BarCode','GoodsName','cal_time_month'],as_index=False)
data_merge_groupby=data_merge_groupby.aggregate(np.sum)

#获取小组信息并去重
#SQL语句
sqlStock="SELECT * FROM sku_dept_group"

#库存数据获取
mycursor=mydb.cursor()
mycursor.execute(sqlStock)
stockdata=mycursor.fetchall()
mycursor.close()

#将数据转化为DaraFrame
sku_dept_group=pd.DataFrame(stockdata)

sku_dept_group.columns=['ID','GoodsNO','GoodsName','BarCode','Company','Dept','tamllTax','GroupName','Holder','GradeTwo','GradeThird','GradeForth','SPU','Register','UpdateTime']
GoodsInfoShort=sku_dept_group[['BarCode','Company','Dept','GroupName']]
GoodsInfoShort=GoodsInfoShort.drop_duplicates(['BarCode'])


#匹配部门
data_merge_dept=pd.merge(data_merge_groupby,GoodsInfoShort,on=['BarCode'],how='left')

print(data_merge_dept.columns)
data_merge_dept=data_merge_dept.fillna(np.nan)
data_merge_dept.isnull().sum()

#复制一份data_merge_dept
data_merge_dept_copy=pd.DataFrame()
data_merge_dept_copy=pd.concat([data_merge_dept_copy,data_merge_dept])
data_merge_dept_copy.columns=['条码','商品名称','计算月份','累计滞销库存','固定成本','库存占用费','公司','部门','小组']
data_merge_dept_copy.to_excel('库存占用带小组明细.xlsx',header=True,index=False)

#按月，公司，部门汇总
data_merge_dept_gb = data_merge_dept.groupby(['Company','Dept','cal_time_month'],as_index=False)
data_merge_dept_gb=data_merge_dept_gb.aggregate(np.sum)
data_merge_dept_gb=data_merge_dept_gb[['Company','Dept','cal_time_month','stockDelayCost']]
data_merge_dept_gb.columns=['公司','部门','计算月份','库存占用费']
data_merge_dept_gb.head()
data_merge_dept_gb.to_excel("2019库存占用带小组15.xlsx",header=True,index=False)