In [1]:
#!!!!! 执行以下语句之前，切记，先确保库存stock_age_cal中的负数转换正数，然后添加至每日出库daily_stockout_sell,同时注意修改时间。
# 确保daily_stockout_sell_0930里面时间大于等于2018-11-30

In [2]:
import mysql.connector
import pandas as pd
import numpy as np
from datetime import datetime,date,timedelta
from dateutil.parser import parse
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine

In [3]:
# #数据库连接初始化设置
# mydb = mysql.connector.connect(
#     host="localhost",
#     user="root",
#     passwd="qaz!@wsx",


#     database="work"
# )
# print(mydb)

In [4]:
#数据库连接初始化
mydb = mysql.connector.connect(
    host="rm-bp178mt2593im687xjo.mysql.rds.aliyuncs.com",
    user="root",
    passwd="KLxs8888",
    database="wdgj")
print(mydb)

#SQL语句
sqlStock="SELECT * FROM stock_age_cal"
sqlSell ="SELECT * FROM daily_stockout_sell"

#库存数据获取
mycursor=mydb.cursor()
mycursor.execute(sqlStock)
stockdata=mycursor.fetchall()
mycursor.close()

#将数据转化为DaraFrame
stockdata=pd.DataFrame(stockdata)
stockdata.columns=['GoodsNO','GoodsName','Total_in','date','flag']
stockdata=stockdata[['GoodsNO','GoodsName','Total_in','date']]

stockdata.head()

<mysql.connector.connection.MySQLConnection object at 0x0000000008F8CB00>

  GoodsNO              GoodsName  Total_in        date
0   00329   爱斯博儿-考伊斯BCMP6006成人配件         1  2018-09-30
1   00342       Ttbaby贝仕达-雅拉牧场毛毯         1  2018-09-30
2   00439             蒂比-都灵婴儿车雨罩         0  2018-09-30
3   00442   FORBABY-P680婴儿车-金色车架         0  2018-09-30
4   00444  FORBABY-P680婴儿车-紫色遮阳棚        24  2018-09-30

In [5]:
#对数据进行预处理，填充空值为零
stockdata =stockdata.fillna(np.nan)
print(stockdata.isnull().sum())
stockdata['Total_in']=stockdata['Total_in'].fillna(0)
print(stockdata.shape)

#删除小于等于0的数值
index = stockdata[stockdata['Total_in']<=0].index
stockdata=stockdata.drop(index=index,axis=0)

print(stockdata.shape)

#按SKU分类汇总
stockdata_groupby = stockdata.groupby(['GoodsNO','GoodsName','date'],as_index=False)
stockdata_groupby=stockdata_groupby.aggregate(np.sum)

print(stockdata_groupby.shape)
#设置库存计算时间
stockdata_groupby['cal_time']=''

stockdata_groupby.head()

GoodsNO      0
GoodsName    0
Total_in     0
date         0
dtype: int64
(205442, 4)
(189767, 4)
(185886, 4)

   GoodsNO              GoodsName        date  Total_in cal_time
0  .100135            蒂爱-折叠浴桶专属浴网  2019-01-23         1
1    00329   爱斯博儿-考伊斯BCMP6006成人配件  2018-09-30         1
2    00342       Ttbaby贝仕达-雅拉牧场毛毯  2018-09-30         1
3    00442   FORBABY-P680婴儿车-金色车架  2018-10-05         9
4    00444  FORBABY-P680婴儿车-紫色遮阳棚  2018-09-30        24

In [6]:
#清除库存为0的数据
index = stockdata_groupby[stockdata_groupby['Total_in']==0].index
stockdata_groupby=stockdata_groupby.drop(index=index,axis=0)

print(stockdata_groupby.shape)

stockdata_groupby['date'].head()

(185886, 5)

0    2019-01-23
1    2018-09-30
2    2018-09-30
3    2018-10-05
4    2018-09-30
Name: date, dtype: object

In [7]:
# stockdata_groupby.head()

In [8]:
# stock_change_data_old = pd.read_csv('stock_change_datac.csv',header = 0)
# stock_change_data_old.shape
# df=[stockdata_groupby,stock_change_data_old]
# stockdata_groupby=pd.concat(df)
# stockdata_groupby.shape

In [9]:
#获取每日销量数据
mycursor=mydb.cursor()
mycursor.execute(sqlSell)
stocksell=mycursor.fetchall()
mycursor.close()

#转化为DataFrame格式，同时修改列名
stocksell=pd.DataFrame(stocksell)
stocksell.columns=['SKU','name','total','date','flag']
stocksell=stocksell[['SKU','name','total','date']]

stocksell.head()

      SKU                        name  total        date
0  110238            KUB可优比-优比兔故事机-粉色      1  2018-11-30
1  113699  KUB可优比-针织棉【郊游】婴儿隔尿床笠120*65      1  2018-11-30
2  109808                KUB可优比-奶瓶消毒器      1  2018-11-30
3   00808         米歌-F50豪华婴儿推车（布鲁斯浅咖）      1  2018-11-30
4   01035        米歌-F50豪华婴儿推车（波尔多迷情紫）      2  2018-11-30

In [10]:
#对数据进行预处理，填充空值为零
stocksell =stocksell.fillna(np.nan)
print(stocksell.isnull().sum())
print(stocksell.shape)
print('\n')

#按照SKU，name,date进行groupby
stocksell_groupby = stocksell.groupby(['SKU','name','date'],as_index=False)
stocksell_groupby=stocksell_groupby.aggregate(np.sum)
print(stocksell_groupby.shape)
stocksell_groupby.head()

SKU      0
name     0
total    0
date     0
dtype: int64
(461788, 4)


(317682, 4)

     SKU                  name        date  total
0  00329  爱斯博儿-考伊斯BCMP6006成人配件  2018-11-30      1
1  00499       蒂爱-克雷斯顿成人配件（肖恩）  2018-11-30      5
2  00499       蒂爱-克雷斯顿成人配件（肖恩）  2018-12-08      2
3  00499       蒂爱-克雷斯顿成人配件（肖恩）  2018-12-14      1
4  00499       蒂爱-克雷斯顿成人配件（肖恩）  2019-03-19      1

In [11]:
# index = stocksell_groupby[stocksell_groupby['date']<parse('2017-10-31').date()].index
# stocksell_groupby=stocksell_groupby.drop(index=index,axis=0)

In [12]:
#按天分类
stocksell_groupby_date = stocksell_groupby.groupby(['date'],as_index=False)
print(stocksell_groupby_date)

#按天查看对应数据
stocksell_groupby_date.get_group('2019-03-30').head()

<pandas.core.groupby.DataFrameGroupBy object at 0x0000000012FD76A0>

       SKU                  name        date  total
100  00671       蒂爱-克雷斯顿成人配件(亿家)  2019-03-30      1
284  00807  米歌-F50豪华婴儿推车（马卡龙蜜粉蓝）  2019-03-30      1
388  00871    KUB可优比-竹棉纤维尿布（单包装）  2019-03-30      3
455   0097             KUB可优比-披风  2019-03-30      1
474   0098             KUB可优比-披风  2019-03-30      1

In [13]:
# stockdata_groupby

In [14]:
#获取特定天的SKU，对应出库，构造SKU：Total字典
def get_sku_code(date):
    try:
        df=stocksell_groupby_date.get_group(date)
    except:
        df=[]
    l=len(df)
    dict_new={}
    for i in range(l):
        dict_new[df['SKU'].iloc[i]]=df['total'].iloc[i]
    return dict_new

In [15]:
#计算库存变化，按照先进先出原则
def sku_stock_delete(time,stock_change):
    sell_dict=get_sku_code(time)#获取特定某一天的SKU:Total
    total=0
    a=0
    print(len(sell_dict))
    for key in sell_dict:
        total+=1
#         print(total)
        sell=sell_dict[key]
        #获取满足条件的对应所在行的index
        stock_index=stock_change[(stock_change['date']<=parse(time).date())&(stock_change['GoodsNO']==key)\
                                     &(stock_change['Total_in']>0)].sort_values(by ='date',ascending=True)['Total_in'].index
        #遍历每个index，按条件扣减对应的库存
        for i in stock_index:
            stock=stock_change['Total_in'].loc[i]
            if sell>=stock:
                stock_change['Total_in'].loc[i]=0
                sell=sell-stock
#                 stock_change['stock_time'].loc[i]=time
            else:
                stock_change['Total_in'].loc[i]=stock-sell
                sell=0
#                 stock_change['stock_time'].loc[i]=time
                break
        a=a+sell
    print(total)
    index_0 = stock_change[stock_change['Total_in']==0].index
    stock_change=stock_change.drop(index=index_0,axis=0)
    return stock_change,a

In [16]:
#重新创建一个DataFrame，复制一份stockdata_groupby,用来确保在调用函数的过程中不改变stockdata_groupby
stock_change_data=pd.DataFrame()
stock_change_data=pd.concat([stock_change_data,stockdata_groupby])

#构造存放计算后每天的库存数据表格
stock_age_cal=pd.DataFrame()
t=0

In [17]:
#执行循环计算过程
starttime = datetime.now()
startdate=date(2018,11,30)
for i in range(157):
    start=startdate + timedelta(i)
    print(start)
    stock_change=sku_stock_delete(str(start),stock_change_data)#调用函数计算库存占用
    stock_change[0]['cal_time']=start#标记库存占用计算日期
    stock_age_cal=pd.concat([stock_age_cal,stock_change[0][stock_change[0]['date']<=start-timedelta(60)]])#筛选60天前的数据
    t+=stock_change[1]
endtime=datetime.now()
print ((endtime - starttime).seconds/60/60)
print (t)

2018-11-30
6778

D:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

6778
2018-12-01
2078
2078
2018-12-02
1842
1842
2018-12-03
2020
2020
2018-12-04
2218
2218
2018-12-05
2027
2027
2018-12-06
2084
2084
2018-12-07
283
283
2018-12-08
2651
2651
2018-12-09
881
881
2018-12-10
1206
1206
2018-12-11
874
874
2018-12-12
3388
3388
2018-12-13
3469
3469
2018-12-14
3252
3252
2018-12-15
3053
3053
2018-12-16
3285
3285
2018-12-17
1661
1661
2018-12-18
1551
1551
2018-12-19
2946
2946
2018-12-20
2640
2640
2018-12-21
2616
2616
2018-12-22
2233
2233
2018-12-23
1900
1900
2018-12-24
2079
2079
2018-12-25
2072
2072
2018-12-26
2022
2022
2018-12-27
1987
1987
2018-12-28
2123
2123
2018-12-29
2022
2022
2018-12-30
921
921
2018-12-31
2569
2569
2019-01-01
1922
1922
2019-01-02
2201
2201
2019-01-03
1995
1995
2019-01-04
2057
2057
2019-01-05
2008
2008
2019-01-06
2064
2064
2019-01-07
2197
2197
2019-01-08
2240
2240
2019-01-09
2036
2036
2019-01-10
1705
1705
2019-01-11
996
996
2019-01-12
810
810
2019-01-13
3166
3166
2019-01-14
3264
3264
2019-01-15
2681
2681
2019-01-16
2722
2722
2019-01-17
2742
2742
2019-01-18
2846
2846
2019-01-19
2336
2336
2019-01-20
2260
2260
2019-01-21
2433
2433
2019-01-22
2375
2375
2019-01-23
2366
2366
2019-01-24
2184
2184
2019-01-25
1963
1963
2019-01-26
1517
1517
2019-01-27
1341
1341
2019-01-28
0
0
2019-01-29
344
344
2019-01-30
0
0
2019-01-31
0
0
2019-02-01
0
0
2019-02-02
0
0
2019-02-03
0
0
2019-02-04
0
0
2019-02-05
0
0
2019-02-06
0
0
2019-02-07
0
0
2019-02-08
0
0
2019-02-09
0
0
2019-02-10
0
0
2019-02-11
165
165
2019-02-12
2267
2267
2019-02-13
2532
2532
2019-02-14
2683
2683
2019-02-15
2417
2417
2019-02-16
2368
2368
2019-02-17
2011
2011
2019-02-18
2251
2251
2019-02-19
2162
2162
2019-02-20
3135
3135
2019-02-21
2152
2152
2019-02-22
1998
1998
2019-02-23
1998
1998
2019-02-24
1688
1688
2019-02-25
1060
1060
2019-02-26
2359
2359
2019-02-27
2521
2521
2019-02-28
1391
1391
2019-03-01
2167
2167
2019-03-02
2252
2252
2019-03-03
2173
2173
2019-03-04
1881
1881
2019-03-05
1211
1211
2019-03-06
1026
1026
2019-03-07
2707
2707
2019-03-08
2816
2816
2019-03-09
2396
2396
2019-03-10
2830
2830
2019-03-11
2501
2501
2019-03-12
2767
2767
2019-03-13
2410
2410
2019-03-14
2008
2008
2019-03-15
2111
2111
2019-03-16
1707
1707
2019-03-17
431
431
2019-03-18
677
677
2019-03-19
3003
3003
2019-03-20
2705
2705
2019-03-21
2685
2685
2019-03-22
2474
2474
2019-03-23
1955
1955
2019-03-24
1437
1437
2019-03-25
2199
2199
2019-03-26
1797
1797
2019-03-27
1363
1363
2019-03-28
2426
2426
2019-03-29
2813
2813
2019-03-30
3036
3036
2019-03-31
2122
2122
2019-04-01
2548
2548
2019-04-02
2086
2086
2019-04-03
2489
2489
2019-04-04
2110
2110
2019-04-05
1979
1979
2019-04-06
2132
2132
2019-04-07
2062
2062
2019-04-08
2225
2225
2019-04-09
2404
2404
2019-04-10
2838
2838
2019-04-11
2462
2462
2019-04-12
2517
2517
2019-04-13
2287
2287
2019-04-14
2148
2148
2019-04-15
1860
1860
2019-04-16
530
530
2019-04-17
2262
2262
2019-04-18
2270
2270
2019-04-19
1792
1792
2019-04-20
3166
3166
2019-04-21
3194
3194
2019-04-22
2648
2648
2019-04-23
3081
3081
2019-04-24
3050
3050
2019-04-25
3214
3214
2019-04-26
2571
2571
2019-04-27
2165
2165
2019-04-28
1987
1987
2019-04-29
2529
2529
2019-04-30
2423
2423
2019-05-01
2437
2437
2019-05-02
2249
2249
2019-05-03
1886
1886
2019-05-04
1907
1907
2019-05-05
3428
3428
5.5875
38257

In [18]:
#校核检验结果
result=stockdata_groupby[stockdata_groupby['date']<=parse('2019-04-30').date()].groupby(['date'],as_index=False)
result=result.aggregate(np.sum)#初始库存总数
result1=stock_change_data[stock_change_data['date']<=parse('2019-04-30').date()].groupby(['date'],as_index=False)
result1=result1.aggregate(np.sum)#最终库存总数
result2=stocksell_groupby[stocksell_groupby['date']<=parse('2019-04-30').date()].groupby(['date'],as_index=False)
result2=result2.aggregate(np.sum)#出库总数
result.Total_in.sum()
#检验是否计算正确，为零则表示准确无误
print(result1.Total_in.sum()-(result.Total_in.sum()-result2.total.sum()+t))

yconnect = create_engine('mysql+mysqldb://root:KLxs8888@rm-bp178mt2593im687xjo.mysql.rds.aliyuncs.com:3306/wdgj?charset=utf8')
#chunksize设置可以在大数据集导入的时候实现分批导入
stock_change_data=stock_change_data[['GoodsNO', 'GoodsName','Total_in','date']]
stock_change_data.columns=['GoodsNO','GoodsName','GoodsCount','CHKTime']
stock_change_data['flag']=datetime.today().strftime('%Y-%m-%d')


pd.io.sql.to_sql(stock_change_data,'stock_change_data', yconnect, schema='wdgj', if_exists='replace',index=False,chunksize=10000)
pd.io.sql.to_sql(stock_age_cal,'stock_age_cal_day', yconnect, schema='wdgj', if_exists='replace',index=False,chunksize=10000)

#保存结果
stock_age_cal.to_csv('stock_age_cal.csv',header=True,index=False)
stock_change_data.to_csv('stock_change_data.csv',header=True,index=False)

-441167

In [ ]:
# stock_age_cal=pd.read_csv('stock_age_cal0410.csv',header = 0)

In [ ]:
# stock_age_cal.head()

In [24]:
#构造新的表格复制一份stock_age_cal
stock_age_cal_copy=pd.DataFrame()
stock_age_cal_copy=pd.concat([stock_age_cal_copy,stock_age_cal])

#转换时间格式，同时计算库龄
stock_age_cal_copy['date']=pd.to_datetime(stock_age_cal_copy['date'])
stock_age_cal_copy['cal_time']=pd.to_datetime(stock_age_cal_copy['cal_time'])
stock_age_cal_copy['stockAge']=stock_age_cal_copy['cal_time']-stock_age_cal_copy['date']

# stock_age_cal_copy.head()

#选择库龄大于60天的SKU
stock_age_cal_copy_60=stock_age_cal_copy[(stock_age_cal_copy['stockAge']>=timedelta(60))&(stock_age_cal_copy['cal_time']>'2018-11-30')]
stock_age_cal_copy_60.head()

   GoodsNO                GoodsName       date  Total_in   cal_time stockAge
2    00342         Ttbaby贝仕达-雅拉牧场毛毯 2018-09-30         1 2018-12-01  62 days
4    00444    FORBABY-P680婴儿车-紫色遮阳棚 2018-09-30        24 2018-12-01  62 days
6    00499          蒂爱-克雷斯顿成人配件（肖恩） 2018-09-30       169 2018-12-01  62 days
7    00518  蒂爱-3D摩丝经典版床垫（7cm）120*65 2018-09-30       271 2018-12-01  62 days
13   00519  蒂爱-3D摩丝经典版床垫（7cm）120*60 2018-09-30       195 2018-12-01  62 days

In [ ]:
# stock_age_cal.head()

In [ ]:
# stock_age_cal1=stock_age_cal1[stock_age_cal1['cal_time']<'2018-02-11']

In [ ]:
# stock_age_cal_copy=pd.concat([stock_age_cal1,stock_age_cal])

In [ ]:
# stock_age_cal_copy=stock_age_cal_copy[stock_age_cal_copy['cal_time']<='2018-12-31']

In [ ]:
# stock_age_cal_copy.to_csv('stock_age_cal12.csv',header=True,index=False)

In [ ]:
# #获取商品固定价格
# goodslist=pd.read_csv('C:\\Users\\Administrator\\PycharmProjects\\test\\g_goods_goodslist.csv',\
#                       header = 0,dtype=object,engine='python',encoding='utf-8')
# goodslist_short=goodslist[['GoodsNO','FixCostPrice']]
# goodslist_short=goodslist_short.drop_duplicates(["GoodsNO"]) #SKU去重

In [25]:
#数据库设置
mydb = mysql.connector.connect(
    host="rm-bp178mt2593im687xjo.mysql.rds.aliyuncs.com",
    user="root",
    passwd="KLxs8888",
    database="wdgj"
)
#获取数据
sql_goodslist='SELECT DISTINCT GoodsNO,CASE WHEN LENGTH(SpecFixCostPrice) > 0 AND SpecFixCostPrice < FixCostPrice OR FixCostPrice=0 THEN SpecFixCostPrice \
ELSE FixCostPrice END AS FixCostPrice,BarCode FROM g_goods_goodslist WHERE BarCode IS NOT NULL'
mycursor=mydb.cursor()
mycursor.execute(sql_goodslist)
goodslist=mycursor.fetchall()
mycursor.close()
#转换成为pandas矩阵
goodslist = pd.DataFrame(goodslist)
print(goodslist.shape)

#截取特定字段
goodslist.columns=['GoodsNO','FixCostPrice','BarCode']
goodslist_short=goodslist.drop_duplicates(["GoodsNO"])

#匹配库存和商品列表
data_merge=pd.merge(stock_age_cal_copy_60,goodslist_short,on=['GoodsNO'],how='left')
data_merge['FixCostPrice']=data_merge['FixCostPrice'].apply(pd.to_numeric) # 将FixCostPrice转换成数值类型

data_merge=data_merge.fillna(np.nan)
print(data_merge.isnull().sum())
data_merge['FixCostPrice']=data_merge['FixCostPrice'].fillna(0)

#计算每个SKU的库存占用费
data_merge['stockDelayCost']=data_merge['Total_in']*data_merge['FixCostPrice']*0.05/30
data_merge=data_merge[(data_merge['stockAge']>=timedelta(60))&(data_merge['cal_time']>'2018-12-31')]
print(data_merge.shape)
data_merge.head()

(19647, 3)
GoodsNO            0
GoodsName          0
date               0
Total_in           0
cal_time           0
stockAge           0
FixCostPrice    9529
BarCode         9529
dtype: int64
(5522911, 9)

,GoodsNO,GoodsName,date,Total_in,cal_time,stockAge,FixCostPrice,BarCode,stockDelayCost
360349,00342,Ttbaby贝仕达-雅拉牧场毛毯,2018-09-30,1,2019-01-01,93 days,42.0,6970351775824,0.070000
360350,00442,FORBABY-P680婴儿车-金色车架,2018-10-05,9,2019-01-01,88 days,481.0,6970351772489,7.215000
360351,00444,FORBABY-P680婴儿车-紫色遮阳棚,2018-09-30,24,2019-01-01,93 days,21.0,6970351772502,0.840000
360352,00445,FORBABY-P680婴儿车-紫色睡篮棉垫,2018-10-05,1,2019-01-01,88 days,15.0,6970351772519,0.025000
360353,00499,蒂爱-克雷斯顿成人配件（肖恩）,2018-09-30,166,2019-01-01,93 days,195.2,69703517834,54.005333

In [ ]:
#data_merge.to_excel('data_merge.xlsx',header=True,index=False)

In [26]:
#分SKU，月份汇总
data_merge['cal_time_month']=data_merge.cal_time.map(lambda x: x.strftime('%Y-%m')) # 取月份数据

data_merge_groupby=data_merge.groupby(['BarCode','GoodsName','cal_time_month'],as_index=False)
data_merge_groupby=data_merge_groupby.aggregate(np.sum)

#获取小组信息并去重
#SQL语句
sqlStock="SELECT * FROM sku_dept_group"

#库存数据获取
mycursor=mydb.cursor()
mycursor.execute(sqlStock)
stockdata=mycursor.fetchall()
mycursor.close()

#将数据转化为DaraFrame
sku_dept_group=pd.DataFrame(stockdata)

sku_dept_group.columns=['ID','GoodsNO','GoodsName','BarCode','Company','Dept','tamllTax','GroupName','Holder','GradeTwo','GradeThird','GradeForth','SPU','Register','UpdateTime']
GoodsInfoShort=sku_dept_group[['BarCode','Company','Dept','GroupName']]
GoodsInfoShort=GoodsInfoShort.drop_duplicates(['BarCode'])


#匹配部门
data_merge_dept=pd.merge(data_merge_groupby,GoodsInfoShort,on=['BarCode'],how='left')

print(data_merge_dept.columns)
data_merge_dept=data_merge_dept.fillna(np.nan)
data_merge_dept.isnull().sum()

#复制一份data_merge_dept
data_merge_dept_copy=pd.DataFrame()
data_merge_dept_copy=pd.concat([data_merge_dept_copy,data_merge_dept])
data_merge_dept_copy.columns=['条码','商品名称','计算月份','累计滞销库存','固定成本','库存占用费','公司','部门','小组']
data_merge_dept_copy.to_excel('库存占用带小组明细.xlsx',header=True,index=False)

#按月，公司，部门汇总
data_merge_dept_gb = data_merge_dept.groupby(['Company','Dept','cal_time_month'],as_index=False)
data_merge_dept_gb=data_merge_dept_gb.aggregate(np.sum)
data_merge_dept_gb=data_merge_dept_gb[['Company','Dept','cal_time_month','stockDelayCost']]
data_merge_dept_gb.columns=['公司','部门','计算月份','库存占用费']
data_merge_dept_gb.head()
data_merge_dept_gb.to_excel("2019库存占用带小组17.xlsx",header=True,index=False)

Index(['BarCode', 'GoodsName', 'cal_time_month', 'Total_in', 'FixCostPrice',
       'stockDelayCost', 'Company', 'Dept', 'GroupName'],
      dtype='object')

In [27]:
#分SKU，按天汇总
data_merge_groupby=data_merge.groupby(['BarCode','GoodsName','cal_time'],as_index=False)
data_merge_groupby=data_merge_groupby.aggregate(np.sum)

data_merge_groupby = data_merge_groupby[data_merge_groupby['cal_time']>='2019-01-01']
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
yconnect = create_engine('mysql+mysqldb://root:KLxs8888@rm-bp178mt2593im687xjo.mysql.rds.aliyuncs.com:3306/wdgj?charset=utf8')
#chunksize设置可以在大数据集导入的时候实现分批导入
pd.io.sql.to_sql(data_merge_groupby,'data_merge_groupby', yconnect, schema='wdgj', if_exists='replace',index=False,chunksize=10000)


data_merge_groupby.head()
data_merge_groupby = data_merge_groupby[data_merge_groupby['cal_time']>='2019-04-01']

# #获取小组信息并去重
# GoodsInfo =pd.read_csv('C:\\Users\\Administrator\\PycharmProjects\\test\\goodsinfo0402.csv',header = 0)
# GoodsInfo.columns=['GoodsNO','GoodsName','BarCode','Company','Dept','tamllTax','GroupName','Holder','GradeTwo','GradeThird','GradeForth','SPU']
# GoodsInfoShort=GoodsInfo[['BarCode','Company','Dept','GroupName']]
# GoodsInfoShort=GoodsInfoShort.drop_duplicates(['BarCode'])

#匹配部门
data_merge_dept=pd.merge(data_merge_groupby,GoodsInfoShort,on=['BarCode'],how='left')

data_merge_dept.columns
data_merge_dept=data_merge_dept.fillna(np.nan)
data_merge_dept.isnull().sum()

data_merge_dept=data_merge_dept[['BarCode', 'GoodsName', 'cal_time', 'Total_in', 'stockDelayCost', 'Dept','GroupName']]

#把DataFrame数据插入数据库
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
yconnect = create_engine('mysql+mysqldb://root:KLxs8888@rm-bp178mt2593im687xjo.mysql.rds.aliyuncs.com:3306/wdgj?charset=utf8')
#chunksize设置可以在大数据集导入的时候实现分批导入
pd.io.sql.to_sql(data_merge_dept,'stock_age_fee', yconnect, schema='wdgj', if_exists='replace',index=False,chunksize=10000)


data_merge_dept.columns=['条码','商品名称','计算日期','滞销库存','库存占用费','部门','小组']
data_merge_dept.to_excel('data_merge_dept_day.xlsx',header=True,index=False)
data_merge_dept.to_csv('data_merge_dept_day.csv',header=True,index=False)

In [ ]:
# #把更新之后的库存表保存起来，方便下次直接计算，不需要从头开始
# stock_change_data=stock_change_data[['GoodsNO', 'GoodsName','Total_in','date']]
# stock_change_data.columns=['GoodsNO','GoodsName','GoodsCount','CHKTime']
# stock_change_data['flag']=datetime.today().strftime('%Y-%m-%d')
# import pymysql
# pymysql.install_as_MySQLdb()
# from sqlalchemy import create_engine
# yconnect = create_engine('mysql+mysqldb://root:KLxs8888@rm-bp178mt2593im687xjo.mysql.rds.aliyuncs.com:3306/wdgj?charset=utf8')
# #chunksize设置可以在大数据集导入的时候实现分批导入
# pd.io.sql.to_sql(stock_change_data,'stock_change_data', yconnect, schema='wdgj', if_exists='replace',index=False,chunksize=10000)

In [ ]:
stock_change_data.columns

In [ ]:
# data_merge_groupby.columns

In [ ]:
# data_merge_dept=data_merge_dept[['BarCode', 'GoodsName', 'cal_time_month', 'Total_in', 'stockDelayCost','Company', 'Dept']]

In [ ]:
# stocksell_groupby[stocksell_groupby['date']<=parse('2018-12-31').date()].sort_values(by ='date',ascending=True).head()

In [ ]:
# # stock_change_data = pd.read_csv('stock_change_data.csv',header = 0)
# # stock_change_data['date']=pd.to_datetime(stock_change_data['date'])
# #校核检验结果
# result=stockdata_groupby[stockdata_groupby['date']<=parse('2019-04-16').date()].groupby(['date'],as_index=False)
# result=result.aggregate(np.sum)#初始库存总数
# result1=stock_change_data[stock_change_data['date']<=parse('2019-04-16').date()].groupby(['date'],as_index=False)
# result1=result1.aggregate(np.sum)#最终库存总数
# result2=stocksell_groupby[stocksell_groupby['date']<=parse('2019-04-16').date()].groupby(['date'],as_index=False)
# result2=result2.aggregate(np.sum)#出库总数
# result.Total_in.sum()
# #检验是否计算正确，为零则表示准确无误
# print(result1.Total_in.sum()-(result.Total_in.sum()-result2.total.sum()+t))

In [ ]:
result1.Total_in.sum()

In [ ]:
result2.total.sum()

In [ ]:
t

In [28]:
startdate=date(2018,11,30)
for i in range(157):
    start=startdate + timedelta(i)
    print(start)

2018-11-30
2018-12-01
2018-12-02
2018-12-03
2018-12-04
2018-12-05
2018-12-06
2018-12-07
2018-12-08
2018-12-09
2018-12-10
2018-12-11
2018-12-12
2018-12-13
2018-12-14
2018-12-15
2018-12-16
2018-12-17
2018-12-18
2018-12-19
2018-12-20
2018-12-21
2018-12-22
2018-12-23
2018-12-24
2018-12-25
2018-12-26
2018-12-27
2018-12-28
2018-12-29
2018-12-30
2018-12-31
2019-01-01
2019-01-02
2019-01-03
2019-01-04
2019-01-05
2019-01-06
2019-01-07
2019-01-08
2019-01-09
2019-01-10
2019-01-11
2019-01-12
2019-01-13
2019-01-14
2019-01-15
2019-01-16
2019-01-17
2019-01-18
2019-01-19
2019-01-20
2019-01-21
2019-01-22
2019-01-23
2019-01-24
2019-01-25
2019-01-26
2019-01-27
2019-01-28
2019-01-29
2019-01-30
2019-01-31
2019-02-01
2019-02-02
2019-02-03
2019-02-04
2019-02-05
2019-02-06
2019-02-07
2019-02-08
2019-02-09
2019-02-10
2019-02-11
2019-02-12
2019-02-13
2019-02-14
2019-02-15
2019-02-16
2019-02-17
2019-02-18
2019-02-19
2019-02-20
2019-02-21
2019-02-22
2019-02-23
2019-02-24
2019-02-25
2019-02-26
2019-02-27
2019-02-28
2019-03-01
2019-03-02
2019-03-03
2019-03-04
2019-03-05
2019-03-06
2019-03-07
2019-03-08
2019-03-09
2019-03-10
2019-03-11
2019-03-12
2019-03-13
2019-03-14
2019-03-15
2019-03-16
2019-03-17
2019-03-18
2019-03-19
2019-03-20
2019-03-21
2019-03-22
2019-03-23
2019-03-24
2019-03-25
2019-03-26
2019-03-27
2019-03-28
2019-03-29
2019-03-30
2019-03-31
2019-04-01
2019-04-02
2019-04-03
2019-04-04
2019-04-05
2019-04-06
2019-04-07
2019-04-08
2019-04-09
2019-04-10
2019-04-11
2019-04-12
2019-04-13
2019-04-14
2019-04-15
2019-04-16
2019-04-17
2019-04-18
2019-04-19
2019-04-20
2019-04-21
2019-04-22
2019-04-23
2019-04-24
2019-04-25
2019-04-26
2019-04-27
2019-04-28
2019-04-29
2019-04-30
2019-05-01
2019-05-02
2019-05-03
2019-05-04
2019-05-05

In [ ]:
494162